.github-wrapper {
    width: calc(100% - 16px);
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: center;
    padding: 8px;
    .icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #35455e;
        padding: 8px;
        border-radius: 50%;
        cursor: pointer;
    }
}
.main-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title-wrapper {
        height: 80px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        > h1 {
            color: #9399a2;
            text-transform: uppercase;
        }
    }
    .game-container {
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            grid-auto-rows: minmax(100px, auto);
            margin-bottom: 32px;
            .grid-item {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #35455e;
                border-radius: 5px;
                min-width: 100px;
                cursor: pointer;
            }
        }
        .players-turn-container {
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .option {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                position: relative;
                .icon {
                    position: relative;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 60px;
                    height: 60px;
                    &.x {
                        background-image: url(../assets/icons/x-light.svg);
                    }
                    &.o {
                        background-image: url(../assets/icons/o-light.svg);
                    }
                }
                .active {
                    position: absolute;
                    background-color: #a1eebd;
                    border-radius: 5px;
                    height: 60px;
                    width: 60px;
                    & ~ .icon {
                        transition: background 0.1s step-end;
                        &.x {
                            background-image: url(../assets/icons/x-dark.svg);
                        }
                        &.o {
                            background-image: url(../assets/icons/o-dark.svg);
                        }
                    }
                }
            }
        }
    }
    .backdrop-filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000b1;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .modal {
        border: 2px solid #dde0e4;
        width: clamp(25%, 300px, 80%);
        height: min(50%, 300px);
        margin: auto;
        padding: 0 2rem;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: #202b3b;
        h1.title {
            margin: 0;
            color: #dde0e4;
            text-transform: capitalize;
            line-height: 0.9;
        }
        .icon-container {
            border: 2px solid #dde0e4;
            border-radius: 12px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            &.winner {
                height: 74px;
                width: 74px;
                flex-wrap: wrap;
                .icon-winner {
                    &.x {
                        background-image: url(../assets/icons/x.svg);
                        background-repeat: no-repeat;
                        height: 60px;
                        width: 60px;
                        transform: scale(1.2);
                    }
                    &.o {
                        background-image: url(../assets/icons/o.svg);
                        background-repeat: no-repeat;
                        height: 60px;
                        width: 60px;
                        ransform: scale(0.9);
                    }
                }
            }
            &.no-winner {
                height: 74px;
                width: 160px;
                gap: 24px;
                .icon-x {
                    background-image: url(../assets/icons/x.svg);
                    background-repeat: no-repeat;
                    height: 60px;
                    width: 60px;
                    transform: scale(1.2);
                }
                .icon-o {
                    background-image: url(../assets/icons/o.svg);
                    background-repeat: no-repeat;
                    height: 60px;
                    width: 60px;
                    transform: scale(0.9);
                }
            }
        }
        .btn-wrapper {
            .play-again-wrapper {
                margin: 0;
                margin-bottom: 14px;
            }
        }
    }
    .modal,
    .game-container {
        .play-again-wrapper {
            display: flex;
            justify-content: center;
            margin: 16px 0px 32px 0px;
            .play-again-btn {
                border: 1px solid #dde0e4;
                border-radius: 5px;
                height: 36px;
                width: 152px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 0.2s;
                .play-again-title {
                    color: #dde0e4;
                    font-size: 18px;
                    margin-right: 12px;
                    font-weight: 600;
                    text-transform: capitalize;
                }
                .play-again-icon {
                    background-image: url(../assets/icons/play-light.svg);
                    background-repeat: no-repeat;
                    width: 16px;
                    height: 16px;
                }
                &:hover {
                    background-color: #dde0e4;
                    .play-again-title {
                        color: #0b131e;
                    }
                    .play-again-icon {
                        background-image: url(../assets/icons/play-dark.svg);
                    }
                }
            }
        }
    }
}
